.rechargeList{
    width: 100%;
    height: 2rem;
    background: white;
    border-bottom: 1px solid #eee;
}
.rechargeListLeft{
   width: 40%;
   height: 2rem;
   float: left;
   line-height: 2rem;
   padding-left: 20px;
   font-size: .75rem
}
.rechargeListMid{
    width: 30%;
    height: 2rem;
   float: left;
   line-height: 2rem;
   padding-right: 20px;
    font-size: .75rem;
   color: #FF6380
    
}
.rechargeListRight{
   width: 30%;
   height: 2rem;
   float: left;
   line-height: 2rem;
   padding-right: 20px;
    font-size: .75rem;
    position: relative
}

.radio{
    position: absolute;
    right: 20px;
    height: 1rem;
    top: .5rem;
    width: 1rem;
    border-radius: 1rem;
    border: 1px solid #FF6380;
    line-height: 1rem;
    text-align: center;
    font-size: 1rem;
    color: #FF6380
}

a{
	color: #333;
}
.sureButton{
	width: 60%;
	height: 2rem;
	background: #FF5983;
	border-radius: 2rem;
	margin-left: 20%;
	line-height: 2rem;
	text-align: center;
	font-size: .7rem;
	color: white;
	margin-top: 2rem;
}


.rechargeZhezhao{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.75);
	z-index: 10;
	display: none;
}
.rechargeRect{
	width: 100%;
	height: 7rem;

	position: absolute;
	bottom: 0;
	left: 0;
}
.rechargeRect>div{
	height: 2rem;;text-align: center;
	line-height: 2rem;
	font-size: .75rem;color: #333;
	width: 90%;
	margin-left: 5%;
	background: white;
	margin-top: .25rem;
	border-radius: 5px;
}
.rechargeRect>div:nth-child(3){
	margin-top: .5rem;
}
